#cattle-tyrant {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 13px;
  cursor: pointer;
  z-index: 9999;
}

#cattle-tyrant-close,
#cattle-tyrant-copy {
  display: none;
}

.cattle-tyrant-button {
  position: relative;
  top: 0;
}

.cattle-tyrant-button:active {
  top: 2px;
  opacity: 0.6;
}
